body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

header h1 {
  margin: 0.5rem;
}

header p {
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

h2 {
  color: #333;
}

#download .download-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.download-item {
  display: flex;
  flex-direction: column; /* Ensures vertical alignment of children */
  align-items: center; /* Centers children horizontally */
  text-align: center;
  margin-bottom: 20px; /* Adjust based on your design */
}

.button {
  display: inline-block;
  background: #007bff;
  color: #ffffff;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 5px; /* Space between the button and version info */
}

.button.ios {
  background: #5fcf80;
}

.button.android {
  background: #f4c20d;
  color: #333;
}

.button.disabled {
  background-color: #ccc;
  color: #666;
  pointer-events: none; /* Prevents clicking */
  cursor: not-allowed;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Adjusted positioning for clarity */
  position: relative; /* Tooltip appears below the button/version info */
  z-index: 1;
  margin-top: 5px; /* Space between version info and tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

.download-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
}

.app-icon {
  width: 150px; /* Adjusted for consistency */
}
@media (max-width: 768px) {
  .app-icon {
    width: 80px; /* Adjusted for consistency */
  }
}
